#fullly{
    background-image: url(/src/resources/relaxedLady.jpg);
    background-repeat: no-repeat;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
}
#inputBtn{
    border-radius:20px;
    width: 400px;
}
#btn{
    width: 95px;
}