#fullly{
    background-image: url(/src/resources/relaxedLady.jpg);
    background-repeat: no-repeat;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
}