.spacef{
    height: 80px ;
}
.App {
  width : 100vm ;
  height : 100vh ;
  margin:0px;
}
button:hover{
  cursor: pointer;
}

.Navbar{
  position: fixed;
  background-color: #c0bff7;
  width: 100%;
  height: 80px ;
  font-family: Arial, Helvetica, sans-serif ;
  display: flex ;
 
}
.Navbar .leftSide{
  display: flex ;
  justify-content: left ;
  align-items: center ;
  flex: 50% ;
  
}
.Navbar .leftSide .links{
  max-height: 80px;
  
}

.Navbar .leftSide button{
  display: none !important;
  margin-left:15px;
}
/* important */
.Navbar .leftSide #hidden{
 display: flex !important;
}

.Navbar .leftSide .links a{
  text-decoration: none;
  color:white;
  font-size: 18x;
  margin-left: 15px;
}


.Navbar .rightSide{
  display: flex;
  flex: 50%;
  align-content: center;
  justify-content: flex-end;
}
.rightSide input{
  width: 200px;
  height: 30px;
  border: none;
  margin-top: 20px;
  border-radius: 4px;
  font-size: 18px;
  padding-left: 15px;
  color: black;
}
.rightSide button{
  margin-top: 20px;
  height: 32px ;
  width: 70px ;
  font-size: 16px ;
}

@media only screen and (max-width:880){
  .Navbar .leftSide .links a{
    font-size: 14px;
  }
}
@media only screen and (max-width:650PX){
  .Navbar .leftSide button{
    display: flex !important;
  }
   .Navbar .leftSide .links{
    display: none !important;
  }
  .Navbar .leftSide #hidden{
    position: absolute !important;
    left: 0px !important;
    top:80px !important;
    height: auto !important;
    max-height: 400px !important;
    width: 100% !important;
    background-color: #c0bff7;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
  }

  .Navbar .leftSide #hidden a{
    margin: 10px;
    font-size: 20px;
  }
} 
